/* ================== 插件面板基础样式 ================== */
.te-sub-options {
  margin: 5px 0 10px 10px;
  border-left: 1px solid var(--SmartThemeBodyColor);
  padding-left: 10px;
  display: none;
}

#te_input_options {
  margin-top: 0px !important;
}

.te-custom-options-header {
  margin: 10px 0 5px;
}

#te-settings-drawer {
  #te_fs_options > div > label,
  #te_fs_options > label {
    margin: 0 !important;
    padding: 5px 0 5px 5px !important;
  }

  #te_input_options > label {
    padding: 5px 0 !important;
    margin: 0 0 0 5px !important;
  }

  > div.inline-drawer-content > label,
  > div.inline-drawer-content > div.flex-container.flexFlowColumn > label {
    align-items: center !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

#user-settings-block hr {
  display: none;
}

/* ================== 兼容布局优化 ================== */
body.te-collapse-user {
  #power-user-options-block,
  #power-user-option-checkboxes,
  #CustomCSS-block {
    min-width: 0 !important;
    max-width: 100% !important;
  }

  #customCSS {
    max-width: 100% !important;
    box-sizing: border-box !important;
  }
}

/* ================== 启用全屏模式 ================== */
body.te-fullscreen {
  #form_sheld {
    margin: 0 auto !important;
    position: absolute !important;
    bottom: calc(var(--te-bottom-bar-pos, 0) * 1px) !important;

    /* by @lambkinling */
    &:has(#send_textarea:focus, #send_textarea:not(:placeholder-shown)) {
      position: sticky !important;
      background-color: var(--SmartThemeChatTintColor);
    }
  }

  &:not(.waifuMode) #sheld {
    top: 0 !important;
    height: 100dvh !important;
    min-height: 100dvh !important;
  }

  #chat {
    height: 100dvh !important;
    min-height: 100dvh !important;
    padding-top: calc(var(--topBarBlockSize) * 2) !important;
  }

  #sheld::-webkit-scrollbar {
    display: none !important;
  }

  &:not(.te-only-hide-top-bar) {
    /* by @lazyalie & @lambkinling */
    #send_form, #form_sheld {
      opacity: 0;
      transition: all 0.5s ease;

      &:focus-within,
      &:hover,
      &:has(#send_textarea:not(:placeholder-shown)) {
        opacity: 1;
      }
    }
  }

  #form_sheld:has(#dialogue_del_mes[style*="display: block"]) {
    opacity: 1;

    #send_form {
      display: none !important;
    }
  }

  #top-bar,
  #top-settings-holder,
  .drawer-toggle {
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:has(.drawer-content.openDrawer, .drawer:hover) {
    #top-bar,
    #top-settings-holder,
    .drawer-toggle {
      opacity: 1;
    }
  }

  /* Chat Top Bar */
  #extensionConnectionProfiles {
    position: absolute !important;
    top: calc(var(--topBarBlockSize) * 2) !important;
    z-index: 100;
  }

  #extensionTopBar {
    position: absolute !important;
    top: var(--topBarBlockSize) !important;
    z-index: 100;
    opacity: 0;
    transition: all 0.5s ease;

    &:focus-within,
    &:hover,
    &:has(#extensionTopBarSearchInput:not(:placeholder-shown), #extensionTopBarToggleConnectionProfiles.active, #extensionTopBarToggleSidebar.active) {
      opacity: 1;
    }
  }
}

/* ================== AI回复底栏 ================== */
body.te-show-bar-reply {
  &:has(.mes_stop[style*="display: flex"]) {
    #send_form, #form_sheld {
      opacity: 1 !important;
    }
  }
}

/* ================== 挡正文或箭头时开 ================== */
body.te-prevent-arrow-overlap {
  #chat {
    padding-bottom: calc(var(--te-bottom-bar-padding, 20) * 1px) !important;

    .mes:last-of-type, .last_mes {
      margin-bottom: 0 !important;
    }
  }
}

/* ================== 输入框布局模式 ================== */
body.te-input-onlySend {
  #send_form:has(#send_textarea:focus, #send_but:hover) {
    #leftSendForm, #rightSendForm > *:not(#send_but) {
      display: none !important;
    }
  }
}

body.te-input-upper,
body.te-input-lower {
  #nonQRFormItems {
    display: grid !important;
    grid-template-columns: auto 1fr auto !important;
    grid-template-rows: auto auto !important;
    place-items: center !important;
  }

  #rightSendForm {
    grid-column: 3 / 4 !important;
  }
}

body.te-input-upper {
  #send_textarea:focus,
  #send_textarea:not(:placeholder-shown) {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 4 !important;
    justify-self: center !important;
    width: 97% !important;
  }
}

body.te-input-lower {
  #send_textarea:focus,
  #send_textarea:not(:placeholder-shown) {
    grid-row: 2 / 3 !important;
    grid-column: 1 / 4 !important;
    justify-self: center !important;
    width: 97% !important;
  }
}

/* ================== 快速回复折叠 ================== */
/* by @tenplustwo_equalto_12 */
body.te-collapse-qr {
  .qr--buttons {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, max-height 0.5s ease, transform 0.5s ease;
  }

  #send_form:focus-within .qr--buttons {
    opacity: 1;
    visibility: visible;
    max-height: 100px;
    transform: translateY(0);
    pointer-events: auto;
  }
}

/* ================== 预设展示优化 ================== */
#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_name {
  white-space: normal !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;

  .prompt-manager-inspect-action {
    line-height: 1.2;
  }

  > small {
    white-space: nowrap;
  }
}

/* ================== 预设设置折叠 ================== */
body.te-preset-collapsed {
  /* 禁用滚动锚定，防止jQuery动画(slideDown/Up)触发浏览器错误的滚动补偿导致大幅跳动 */
  #left-nav-panel .scrollableInner, #openai_settings {
    overflow-anchor: none !important;
  }

  #respective-ranges-and-temps,
  #kobold_api-settings > div,
  #novel_api-settings > div,
  #textgenerationwebui_api-settings > div,
  #openai_settings > div:not(:has(#completion_prompt_manager)) {
    height: 0 !important;
    min-height: 0 !important;
    overflow: hidden !important;
    pointer-events: none !important;
    visibility: hidden !important;
  }
}

/* ================== 预设编辑界面布局修改 (现为全局生效) ================== */
#completion_prompt_manager_popup_edit {
  .text_muted {
    display: none !important;
  }
  .completion_prompt_manager_popup_entry_form_control[style*="visibility: hidden"] {
    display: none !important;
  }
  .completion_prompt_manager_popup_entry_form_control:has(#completion_prompt_manager_popup_entry_form_name) {
    flex-basis: 100% !important;
  }
}

/* ================== 世界书布局修改 ================== */
/* by @baibai_ds */
body.te-world-info-layout {

  #world_popup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 0px;
    align-items: center;
    position: relative;
    justify-content: space-between;

    > div:has(#world_editor_select) {
      display: contents;

      /* 选择 */
      #world_editor_select, #world_editor_select~.select2-container {
        order: 0;
        width: 100% !important;
        flex: 1 0 auto;
        min-width: stretch !important;
      }
      /* 新建 */
      #world_create_button {
        order: 1;
      }
      /* 删除 */
      #world_popup_delete {
        order: 14;
      }
      /* 或 */
      > small {
        display: none !important;
      }
      /* 导入 */
      #world_import_button {
        order: 2;
      }
      #world_popup_export {
        order: 3;
      }
      #world_popup_name_button {
        order: 4;
      }
      #world_duplicate {
        order: 5;
      }
    }

    > div:has(#world_popup_new) {
      display: contents;

      #world_popup_new {
        order: 6;
      }
      #OpenAllWIEntries {
        order: 7;
      }
      #CloseAllWIEntries {
        order: 8;
      }
      #world_backfill_memos {
        order: 9;
      }
      #world_apply_current_sorting {
        order: 10;
      }
      /* 刷新 */
      #world_refresh {
        order: 11;
      }
      /* 排序 */
      #world_info_sort_order {
        order: 12;
      }
      /* 搜索 */
      #world_info_search {
        order: 13;
      }
      #world_info_pagination {
        order: 15;
        width: 100%;
      }
    }

    #world_popup_entries_list {
      order: 99;
    }
  }

  .world_entry {
    .textAlignCenter {
      text-align: start;
      margin-bottom: 3px;
    }

    .world_entry_edit {
      display: block;
      margin-top: 10px;

      /* 隐藏除第一个子元素外的其他内容 */
      > :not(:first-child) {
        display: none;
      }

      /* 解除自身容器限制，使子元素直接参与顶层flex布局 */
      .flex-container[name='keywordsAndLogicBlock'],
      .flex-container[name='perEntryOverridesBlock'] {
        display: contents;
      }

      .flex-container[name='perEntryOverridesBlock'] {
        order: 8;
      }

      .world_entry_form_control {
        .switch_input_type_icon {
          display: none;
        }

        &:has(small[data-i18n='Whole Words']),
        &:has(small[data-i18n='Group Scoring']),
        &:has(small[data-i18n='Automation ID']) {
          display: none;
        }

        &:has(.text_pole[name='key']),
        &:has(.text_pole[name='keysecondary']) {
          width: 100%;
          flex: none !important;
          margin-bottom: 5px;

          /* 自适应文本高度 */
          .select2-container .select2-selection--multiple,
          textarea.text_pole {
            field-sizing: content;
          }
        }

        &:has(small[data-i18n='Optional Filter']) {
          order: 6;
        }

        &:has(small[data-i18n='Logic']) {
          order: 7;
        }

        &:has(small[data-i18n='Case-Sensitive']),
        &:has(small[data-i18n='Scan Depth']) {
          order: 8;
        }
      }

      /* 内容 */
      .world_entry_thin_controls[name='contentAndCharFilterBlock'] {
        display: contents;

        .world_entry_form_control {
          display: contents;

          > textarea {
            order: 4;
          }

          > label {
            display: contents;

            > small {
              display: contents;

              > span.justifySpaceBetween {
                display: contents;

                > span.alignitemscenter {
                  display: contents;

                  > span.mdhotkey_location {
                    order: 1;
                  }

                  /* 展开按钮挪到右方 */
                  > i.editor_maximize {
                    order: 3;
                    margin-left: auto;
                  }
                }

                /* 词符UID，利用flex-grow填满空位 */
                > span:nth-child(2) {
                  order: 2;
                  flex-grow: 1;
                  text-align: left;
                }

                /* 复选框区域 */
                > div {
                  order: 5;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  .wi-card-entry {

    input.text_pole,
    select.text_pole,
    .WIEntryTitleAndStatus > .flex-container {
      width: 100% !important;
      max-width: stretch;
    }

    .inline-drawer-header:not(.world_entry .inline-drawer-header-pointer) {
      display: grid;
      grid-template-columns: 55px 55px auto 50px 30px;
      column-gap: 10px !important;
      justify-content: normal !important;
    }

    .world_entry_thin_controls,
    .world_entry_thin_controls > .alignitemscenter,
    .WIEntryTitleAndStatus,
    .WIEnteryHeaderControls {
      display: contents !important;
    }

    .WIEntryTitleAndStatus > .flex-container {
      grid-row: 1;
      grid-column: 1 / 4;
    }

    select[name="entryStateSelector"] {
      grid-row: 1;
      grid-column: 4;
    }

    .drag-handle {
      grid-row: 1;
      grid-column: 5;
    }

    div[name="PositionBlock"] {
      grid-row: 2;
      grid-column: 1 / 4;
    }

    .WIEnteryHeaderControls > div:has(input[name="depth"]) {
      grid-row: 2;
      grid-column: 4;
    }

    .killSwitch {
      grid-row: 2;
      grid-column: 5;
    }

    .WIEnteryHeaderControls > div:has(input[name="order"]) {
      grid-row: 3;
      grid-column: 1;
    }

    .WIEnteryHeaderControls > div:has(input[name="probability"]) {
      grid-row: 3;
      grid-column: 2;
    }

    /* 移动、删除、复制三个按钮的自定义容器 */
    .te-wi-btn-wrapper {
      grid-row: 3;
      grid-column: 3 / 5;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }

    .inline-drawer-toggle:not(.world_entry .inline-drawer-header-pointer) {
      grid-row: 3;
      grid-column: 5;
    }

    .drag-handle,
    .killSwitch,
    .inline-drawer-toggle:not(.world_entry .inline-drawer-header-pointer) {
      justify-self: center !important;
      font-size: 17px !important;
    }

    .WIEnteryHeaderControls > div:has(input[name="order"]),
    .WIEnteryHeaderControls > div:has(input[name="probability"]) {
      input.text_pole {
        field-sizing: content;
      }
    }
  }

  .WIEntryHeaderTitleMobile {
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  #user-settings-block .checkbox_label {
    pointer-events: none !important;
  }
  #user-settings-block input[type="checkbox"] {
    pointer-events: auto !important;
  }
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt .prompt_manager_prompt_controls {
  position: relative;
}

/* ================== 编辑按钮挪到右下角 ================== */
body.te-move-edit-buttons {
  .mes {
    position: relative !important;
  }

  .mes > .mes_buttons, .mes > .mes_edit_buttons {
    position: absolute !important;
    bottom: calc(var(--te-edit-btn-bottom, 30) * 1px) !important;
    right: calc(var(--te-edit-btn-right, 20) * 1px) !important;
    top: auto !important;
    left: auto !important;
    z-index: 100 !important;
  }

  .mes:last-of-type > .mes_buttons, .mes:last-of-type > .mes_edit_buttons {
    bottom: calc(var(--te-edit-btn-bottom-last, 30) * 1px) !important;
  }

  #chat .mes:last-of-type .mes_block, .mes_block {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  #chat .mes {
    padding-bottom: calc(var(--te-edit-btn-bottom) * 2px) !important;
  }

  #chat .mes:last-of-type {
    padding-bottom: calc(var(--te-edit-btn-bottom-last) * 2px) !important;
  }
}

/* ================== 思维链高度固定 ================== */
/* by @lambkinling */
body.te-fixed-reasoning .mes_reasoning {
  max-height: 500px;
  overflow: hidden auto;
}

/* ================== 编辑正文时隐藏底栏 ================== */
body.te-hide-bottom-bar-on-edit #sheld:has(#curEditTextarea, .reasoning_edit_textarea) #form_sheld {
  display: none !important;
}
